body{
  background-color: white;
}
h1{
  text-align: center;
}
.new{
  color:white;
}
.field input{
  width: 500px;
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
}
.field textarea{
  width: 500px;
  height: auto;
  padding: 5px;
  margin-bottom: 10px;
}
.image{
  color:white;
}
